
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "inter", sans-serif;
    background-color: #c1bfbf50;
    overflow-x: hidden;
}

/* bagian pembukaan */
.pembukaan {
    background-image: url(img/image-copy\ 7.png);
    padding: 150px 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.kata-1 {
    font-size: 100px;
}

.bg-blue {
    background-color: rgba(93, 93, 232, 0.785);
    max-width: 200px;
    color: white;
    border-radius: 15px;
    margin-left: 500px;
    margin-bottom: 10px;
}

.pembukaan p {
    font-size: 22px;
    font-weight: bold;
}

.pembukaan span {
    color: rgb(248, 248, 169);
}

.main-header {
    background: linear-gradient(135deg, #67becf8a, #0d52094e);
    backdrop-filter: blur(10px);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #655959dd;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container div {
    display: flex;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.logo:hover {
    color: rgb(137, 108, 108);
    transition: color 0.4s ease-in-out;
}

.main-nav {
    display: flex;
    justify-content: space-between;
}

.main-nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}

.main-nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.84);
    font-size: 16px;
    padding: 2px 1px;
}

.main-nav a:hover {
    color: rgb(137, 108, 108);
    transition: color 0.4s ease-in-out;
}

.closeBtn, .menuBtn{
    font-size: 28px;
    margin: 0px 20px;
    display: none;
}

@media only screen and (max-width: 780px){
    ul{
        display: none;
    }

    ul li{
        display: block;
        margin: 20px;
    }
    .menuBtn{
        display: block;
    }

    #menu{
        width: 100%;
        background: rgb(11, 46, 54);
        position: absolute;
        top: 60px;
        right: 0;
        text-align: center;
    }
}

.kontainer2 {
    background-image: url(img/image-copy\ 7.png);
    margin: 140px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(78, 78, 78, 0.523);
    gap: 50px;
}

.hero-text h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 50px;
    padding-bottom: 10px;
}

.hero-text h2 {
    margin-left: 50px;
    padding-bottom: 5px;
}

.hero-text {
    flex: 1;
    text-align: left;
    padding: 34.3px;
    padding-left: 1px;
    color: #2c534c;
    background: rgba(0, 0, 255, 0.002);
    border: 1px solid rgba(0, 0, 0, 0.365);
    border-radius: 4px;
}

.hero-text p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    margin-left: 50px;
    max-width: 450px;
    margin-bottom: 16px;
}

.kontainer2 img {
    padding: 20px;
    border-radius: 3px;
    border: 1px solid rgba(9, 47, 241, 0.395);
    background-color: rgba(132, 130, 130, 0.55);
}

.features-section {
    background-color: white;
    padding: 80px 0;
    text-align: center;
}

.kontainer3 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.section-tittle {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;
    margin-bottom: 60px;
    background-image: url(img/image-copy\ 5.png);
    border-radius: 10px;
}

.features-grid {
    display: flex;
    gap: 25px;
}

.features-card {
    background-color: #67becf46;
    padding: 40px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 500;
    flex: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.features-card:hover {
    transform: translateY(-10px);
}

.features-icon {
    padding: 10px;
    height: 200px;
    width: 200px;
}


/* bagian tugas */
.features-section2 {
    padding: 80px 0;
    text-align: center;
    background-color: #f7f6f6;
}

.section-tittle2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;
    background-image: url(img/image-copy\ 5.png);
}

.features-grid2 {
    display: flex; 
    gap: 2px;
    background-color: #67becf46;
}

.features-card2 {
    background-color: #67becf46;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    flex: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.features-card2:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.76);
}

.features-card2 h4 {
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgba(57, 57, 57, 0.386);
}

h4:hover {
    transition: all 0.4s ease-in-out;
    color: rgb(15, 15, 252);
    background-color: rgba(249, 248, 248, 0.598);
}

a {
    text-decoration: none;
}

.features-card2 img {
    border-radius: 30px;
}

.features-icon2 {
    padding: 5px;
    height: 100px;
    width: 100px 10px;
    margin-top: 10px
}

/* bagian alamat sekolah */
.alamat-sekolah {
    background-color: white;
    text-align: center;
    padding: 50px 20px;
}

.title {
    font-size: 50px;
    color: #2b2b2be9;
    padding-bottom: 5px;
    font-family: "inter", sans-serif;
}

.nama-sekolah {
    padding-bottom: 3px;
}

.iframe-container {
    padding: 15px;
    border: 2px solid rgb(240, 7, 7);
    background-image: url(img/image-copy\ 7.png);
    border-radius: 10px;
}


footer {
    background-color: black;
    color: rgb(223, 222, 222);
    padding: 15px;
    text-align: center;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list li {
    margin: 5px 0;
}

footer a {
    text-decoration: none;
}

footer p {
    margin-top: 17px;

}

.contact-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contact-list a {
    color: rgb(249, 132, 132);
    display: inline-block;
    margin: 0 10px;
    transition: color 0.5s ease-in-out;
}

.contact-list a:hover {
    color: rgb(12, 12, 253);
}   
